<?xml version="1.0" encoding="UTF-8"?>   
<beans xmlns ="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"    

	xmlns:p="http：//www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"	
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd	" >
		
		<!-- 扫描注解 -->
	<context:component-scan base-package="com.jxy.ssm,com.jxy.websocket"/>
	<!-- 也可以把数据源中的值分离出来，用db.properties 来管理这些值 
	<context:property-placeholder location="classpath:db.properties"/>-->
	
	<context:property-placeholder location="classpath:db.properties"/>
	<bean id ="dataSource" class = "org.apache.commons.dbcp.BasicDataSource" 
	 
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="maxActive" value="10"></property>
		<property name="maxIdle" value="5"></property>
		
	</bean>
	<!-- 事务管理器 -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
   		 <property name="dataSource" ref="dataSource"/>
	</bean>
	<!-- 开启事务注解 -->
	<tx:annotation-driven transaction-manager="txManager" />	
		
		<!-- sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<!-- 加载mybatis的配置文件 -->
		<property name="configLocation" value="classpath:SqlMapConfig.xml"></property>
		<!-- 数据库 -->
		<property name="dataSource" ref="dataSource"></property>
		
		
	</bean>
	
	<!-- 配置mapper开发模式 -->
	 <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  

        <property name="basePackage" value="com.jxy.ssm.mapper" />  

        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>

    </bean>
    
    
			
		
		
</beans>